{% block scripts %} 

    <script>
        var endpoint = "{{ url_for(request.endpoint) }}";
        var thing = "{{ thing }}"
    </script>
    <script src="{{url_for('static', filename='js/my_jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/daterange.js')}}"></script>

{% endblock scripts %}

{% block content %}

<div class="container">

    <h2>Lista clientes</h2>
    
        <div class="row">
        <div class="col-sm-6">
            <p>Período:</p>
            <form>
                <input type="text" name="daterange" />
            </form>
        </div>
        <div class="col-sm-6">
            <p>Filtro:</p>
            <input id="filter_table" type="text" placeholder="Search...">
        </div>

    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Último acesso</th>
          </tr>
        </thead>
        <tbody>
        {% for doc in clientes %}
            <tr>
                <td>
                    <a onclick=$("#main_block").load("/admin/vendas_por_cliente?cliente={{ doc['_id'] }}")>
                    {{ doc['nome'] }}
                    </a>
                    
                </td>
                <td>{{ doc['FONE'] }}</td>
                <td>{{ doc['Modified Date'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}